
.custom-navbar {
  background-color: #01787d !important; 
  border-bottom: 3px solid #f8d928; 
  z-index: 1000;
}

.navbar .navbar-brand {
  color: #ffffff; 
  font-size: 24px; 
  font-weight: bold; 
}

.navbar .navbar-toggler {
  background-color: #f8d928; 
  border: none;
  font-size: 24px;
}

/* Sidebar (Menu Lateral) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #01787d;
  transition: left 0.3s ease-in-out;
  z-index: 50;
  padding: 70px 0 20px 0
}

.sidebar.open {
  left: 0;
}

.sidebar .nav-link {
  display: block;
  width: 100%;
  color: #ffffff; 
  font-size: 14px; 
  padding: 10px 0;
  font-weight: bold; 
  border-bottom: 1px solid #ffffff;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

.sidebar .nav-link:hover {
  background-color: #f7df0a; /* Cor de fundo ao passar o mouse */
}

/* Botão de fechar no topo da barra lateral */
.sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.overlay.show {
  display: block;
}

/* Ajuste da seção de conteúdo principal */
.container {
  margin-top: 80px; 
}
